.format{
    margin-left: 18%;
    margin-top: 6rem;
    margin-right: 15%;
}

.header{
    margin-top: 3rem;
    font-size: 40px;
    color: white;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.subheading1{
    padding-top: 1.5rem;
    padding-left: 3rem;
    font-weight: 300;
    color: #CACACA;
    font-size: 18px;
    width: 30rem;
    background: rgba(255, 255, 255, 0);
}

.subheading2{
    /* remove after adding button */
    margin-top: 4rem;
    font-weight: 500;
    color: #CACACA;
    font-size: 20px;
    width: 25rem;
}

.body1{
    margin-top: 1.5rem;
    font-weight: 300;
    color:#CACACA;
    font-size: 15px;
    width: 40rem;
}

.image-format{
    display: flex;
    justify-content: space-between;
    align-items: right;  
}

.body-format{
    margin-left: 3rem;
}

.card{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    border-radius: 0.8rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    z-index: 0;
}

/* not working rn idk how to do it */
.scholarship-img{
    background: url('../../assets/scholarshipPageImage1.png');
    margin-left: 5%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    z-index: 3;
}
  