.circle{
    position:relative;
    height: 10rem;
    width: 15rem;
    background: hsla(187, 72%, 54%, 0.24);
    border-radius: 50%;
    background-blend-mode: screen;
    filter: blur(50px);
    animation-name: expanding-circles;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
   
    
}

.body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

@keyframes expanding-circles {
    from { transform: scale(100%)}
    to {transform: scale(60%)}
  }
